<div class="jumbotron">
  <div class="container">
    <h1>Devise Tutorial</h1>
    <p>Rails 5.0 w/ Devise 4.2</p>
    <%= link_to 'Registration', new_user_registration_path, class: 'btn btn-primary btn-large' %> |
    <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: 'btn btn-primary btn-large' %>
  </div>
</div>
